In [1]:
# %pip install chromedriver-autoinstaller
# %pip install webdriver-manager

In [1]:
# 현재 내 컴퓨터의 크롬 버전 확인
import chromedriver_autoinstaller as AutoChrome

chrome_ver = AutoChrome.get_chrome_version()
print(chrome_ver)

112.0.5615.138

* [selenium webdriver_manager](https://github.com/SergeyPirogov/webdriver_manager)

In [2]:
# selenium 4
import os
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd

# selenium으로 키를 조작하기 위한 import
from selenium.webdriver.common.keys import Keys

# 페이지 로딩을 기다리는데에 사용할 time 모듈 import
import time

In [35]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

# 신한카드 신한플레이 이벤트 페이지(진행중)
driver.get('https://www.shinhancard.com/mob/MOBFM026N/MOBFM026C01.shc')

# 자동 저장을 위한 타이틀 폴더
title_folder = './image'

if not os.path.isdir(title_folder):
    os.mkdir(title_folder)

# 신한플레이 이벤트
titles = driver.find_elements(By.CSS_SELECTOR, 'div.img-sec')
shinhanplay_event = []
for idx, title in enumerate(titles):
    text = title.text
    shinhanplay_event.append(text)

df = pd.DataFrame(shinhanplay_event, columns=['title'])

In [36]:
# 첫 번째 컬럼은 다른 정보라서 지우기
df.drop([0], axis=0, inplace=True)

In [37]:
df

                               title
1    올해 첫 홀인원 하면 100만원 스타벅스 쿠폰은 보너스!
2              퀴즈 팡팡 풀고 POINT 받아가세요!
3              결제계좌 변경하고 6천원 캐시백 받자!
4                   신한카드와 함께하는 AI 여행
5       일본가서 벚꽃 보고 캐시백과 커피쿠폰 GET 하자!
..                               ...
160       올댓골프 x 골프존 티스캐너 모바일 예약 이벤트
161             폴바셋 최대 3잔 무료 Size-up
162                  티웨이항공 최대 1만원 할인
163                스무디킹 모든 스무디 1 + 1
164                신한카드 렌탈 플랫폼 My렌탈#

[164 rows x 1 columns]

In [30]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

# 신한카드 신한플레이 이벤트 페이지(종료)
driver.get('https://www.shinhancard.com/mob/MOBFM026N/MOBFM026C10.shc')

shinhanplay_event = []
while True:
    # 신한플레이 이벤트(종료)
    titles = driver.find_elements(By.CSS_SELECTOR, 'a.title')

    for idx, title in enumerate(titles):
        text = title.text
        shinhanplay_event.append(text)
  
    try:
        driver.find_element(By.CSS_SELECTOR, 'button#prevBtn.swiper-button-prev').click()
    except:
        break
    
    time.sleep(3)

df2 = pd.DataFrame(shinhanplay_event, columns=['title'])

In [32]:
df2

                                 title
0                 유에스베드 x 신한카드 스페셜 이벤트
1         브레멘필하모닉 첫 서울공연 신한카드 20% 특별할인
2      씰리침대 x 신한카드 스페셜 혜택과 추가 1.5% 캐시백
3           신한카드와의 첫만남 신규 연회비 100% 캐시백
4     시몬스 x 신한카드 특별 혜택과 최대 1.5% 추가 캐시백
...                                ...
3375           3월 듀오 미팅파티 Love Blossom
3376          올댓여행 부킹닷컴 마이신한포인트 8% 적립!
3377                     클락 해외 골프여행 특가
3378                  신한카드와 함께 키스해링전을!
3379       신한 Mastercard 해외호텔 예약 특별이벤트

[3380 rows x 1 columns]

In [38]:
df3 = pd.concat([df, df2])
df3

                                title
1     올해 첫 홀인원 하면 100만원 스타벅스 쿠폰은 보너스!
2               퀴즈 팡팡 풀고 POINT 받아가세요!
3               결제계좌 변경하고 6천원 캐시백 받자!
4                    신한카드와 함께하는 AI 여행
5        일본가서 벚꽃 보고 캐시백과 커피쿠폰 GET 하자!
...                               ...
3375          3월 듀오 미팅파티 Love Blossom
3376         올댓여행 부킹닷컴 마이신한포인트 8% 적립!
3377                    클락 해외 골프여행 특가
3378                 신한카드와 함께 키스해링전을!
3379      신한 Mastercard 해외호텔 예약 특별이벤트

[3544 rows x 1 columns]

In [42]:
df3.to_csv('./title/shinhanplay_event.csv', index=False)